<!DOCTYPE html>
<html>
<head>
	<title>Live Smart - Log In</title>

	<link rel="stylesheet" type="text/css" href="../res/css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="../res/css/foundation-icons.css">
	<link rel="stylesheet" type="text/css" href="../res/css/page-style.css">
	<link rel="stylesheet" type="text/css" href="../res/css/fonts.css">

	<script type="text/javascript" src="../res/js/jquery-3.1.1.min.js"></script>
</head>
<body>
	<div class="expanded row" id="topbar" align="center">
		<div class="bg"></div>
		<div class="large-12 columns white-text">
			<b class="myriad-bold shadow1" id="top_title">LIVE SMART</b>
		</div>
	</div>

	<div class="row" align="center">
		<div class="large-12 columns main-body">
			<h1 class="myriad-semibold">Admin Dashboard</h1>
			<button type="button" class="button orange-btn myriad" id="btn_viewAll">View Survey Statistics</button>
			<button type="button" class="button orange-btn myriad" id="btn_viewOne">View Users' Carbon Footprint Graphs</button>
			<button type="button" class="button orange-btn myriad" id="btn_deleteUser">Delete A User</button>
			<button type="button" class="button red-btn myriad" id="btn_logout">Log Out</button>
		</div>
	</div>

	<script type="text/javascript" src="../res/js/admin_page.js"></script>
</body>
</html>
