<!DOCTYPE html>
<html>
<head>
	<title>Live Smart - Compute for Carbon Footprint</title>

	<link rel="stylesheet" type="text/css" href="../res/css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="../res/css/foundation-icons.css">
	<link rel="stylesheet" type="text/css" href="../res/css/alertify.min.css">
	<link rel="stylesheet" type="text/css" href="../res/css/page-style.css">
	<link rel="stylesheet" type="text/css" href="../res/css/survey-page.css">
	<link rel="stylesheet" type="text/css" href="../res/css/fonts.css">

	<script type="text/javascript" src="../res/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../res/js/alertify.min.js"></script>
</head>
<body>

	<div class="expanded row" id="topbar" align="center">
		<div class="bg"></div>
		<div class="large-12 columns white-text">
			<b class="myriad-bold shadow1" id="top_title">LIVE SMART</b>
		</div>
	</div>

	<div class="row" align="center">
		<div class="large-12 columns main-body">
			<div id="question_container" class="myriad">
				<div id="q_start">
					<h2 class="myriad-semibold">Complete the test to find out your carbon footprint score.</h2>
					<h3 class="myriad-semibold">Please answer as honestly as possible.</h3>
					<p>
						<button type="button" class="button survey-btn disabled" id="left0"><i class="fi-arrow-left arrow"></i></button>
						<button type="button" class="button survey-btn" id="right0"><i class="fi-arrow-right arrow"></i></button>
					</p>
				</div>

				<!--
				<input type="radio" name="q" value="0" id="q" /><label for="q"></label> <br />
				<input type="radio" name="q" value="0" id="q" /><label for="q"></label> <br />
				<input type="radio" name="q" value="0" id="q" /><label for="q"></label> <br />
				<input type="radio" name="q" value="0" id="q" /><label for="q"></label> <br />
				-->

				<div id="q_f1">
					<h1 class="myriad-semibold">PART 1: FOOD</h1>
					<h2 class="myriad-semibold">Q1. How would you describe your current diet?</h2>
					<input type="radio" name="qf1" value="3" id="qf11" /><label for="qf11">Almost all of my meals contain lots of meat.</label> <br />
					<input type="radio" name="qf1" value="2" id="qf12" /><label for="qf12">Most of my meals contain only some meat.</label> <br />
					<input type="radio" name="qf1" value="1" id="qf13" /><label for="qf13">I eat mostly vegetables with some meat on the side.</label> <br />
					<input type="radio" name="qf1" value="0" id="qf14" /><label for="qf14">I only eat vegetables.</label> <br />
					<p>
						<button type="button" class="button survey-btn" id="left1"><i class="fi-arrow-left arrow"></i></button>
						<button type="button" class="button survey-btn" id="right1"><i class="fi-arrow-right arrow"></i></button>
					</p>
				</div>

				<div id="q_f2">
					<h1 class="myriad-semibold">PART 1: FOOD</h1>
					<h2 class="myriad-semibold">Q2. How often do you eat processed foods?</h2>
					<input type="radio" name="qf2" value="3" id="qf21" /><label for="qf21">All of my meals are processed foods.</label> <br />
					<input type="radio" name="qf2" value="2" id="qf22" /><label for="qf22">Most of my meals are processed foods.</label> <br />
					<input type="radio" name="qf2" value="1" id="qf23" /><label for="qf23">Only some of my meals are processed foods.</label> <br />
					<input type="radio" name="qf2" value="0" id="qf24" /><label for="qf24">I don't eat processed food.</label> <br />
					<p>
						<button type="button" class="button survey-btn" id="left2"><i class="fi-arrow-left arrow"></i></button>
						<button type="button" class="button survey-btn" id="right2"><i class="fi-arrow-right arrow"></i></button>
					</p>
				</div>

				<div id="q_f3">
					<h1 class="myriad-semibold">PART 1: FOOD</h1>
					<h2 class="myriad-semibold">Q3. How much of your food are imported from other countries?</h2>
					<input type="radio" name="qf3" value="2" id="qf32" /><label for="qf32">Most of my food comes from other countries.</label> <br />
					<input type="radio" name="qf3" value="1" id="qf33" /><label for="qf33">I eat imported food only sometimes.</label> <br />
					<input type="radio" name="qf3" value="0" id="qf34" /><label for="qf34">I only eat food grown in the Philippines.</label> <br />
					<p>
						<button type="button" class="button survey-btn" id="left3"><i class="fi-arrow-left arrow"></i></button>
						<button type="button" class="button survey-btn" id="right3"><i class="fi-arrow-right arrow"></i></button>
					</p>
				</div>

				<div id="q_f4">
					<h1 class="myriad-semibold">PART 1: FOOD</h1>
					<h2 class="myriad-semibold">Q4. How much of your food leftovers go to waste?</h2>
					<input type="radio" name="qf4" value="0" id="qf41" /><label for="qf41">None. I always finish everything on my plate.</label> <br />
					<input type="radio" name="qf4" value="1" id="qf42" /><label for="qf42">There are usually a few pieces of food left when I finish.</label> <br />
					<input type="radio" name="qf4" value="2" id="qf43" /><label for="qf43">I almost always have a lot of leftovers that go to waste.</label> <br />
					<p>
						<button type="button" class="button survey-btn" id="left4"><i class="fi-arrow-left arrow"></i></button>
						<button type="button" class="button survey-btn" id="right4"><i class="fi-arrow-right arrow"></i></button>
					</p>
				</div>

				<div id="q_t1">
					<h1 class="myriad-semibold">PART 2: TRAVEL</h1>
					<h2 class="myriad-semibold">Q1. What is your preferred mode of travel?</h2>
					<input type="radio" name="qt1" value="4" id="qt11" /><label for="qt11">Riding cars</label> <br />
					<input type="radio" name="qt1" value="3" id="qt12" /><label for="qt12">Riding motorcycles.</label> <br />
					<input type="radio" name="qt1" value="2" id="qt13" /><label for="qt13">Public transportation.</label> <br />
					<input type="radio" name="qt1" value="1" id="qt14" /><label for="qt14">Walking/Bicycles.</label> <br />
					<p>
						<button type="button" class="button survey-btn" id="left5"><i class="fi-arrow-left arrow"></i></button>
						<button type="button" class="button survey-btn" id="right5"><i class="fi-arrow-right arrow"></i></button>
					</p>
				</div>

				<div id="q_t2">
					<h1 class="myriad-semibold">PART 2: TRAVEL</h1>
					<h2 class="myriad-semibold">Q2. How many cars are in your household?</h2>
					<input type="radio" name="qt2" value="0" id="qt21" /><label for="qt21">None</label> <br />
					<input type="radio" name="qt2" value="1" id="qt22" /><label for="qt22">1</label> <br />
					<input type="radio" name="qt2" value="2" id="qt23" /><label for="qt23">2</label> <br />
					<input type="radio" name="qt2" value="4" id="qt24" /><label for="qt24">More than 3</label> <br />
					<p>
						<button type="button" class="button survey-btn" id="left6"><i class="fi-arrow-left arrow"></i></button>
						<button type="button" class="button survey-btn" id="right6"><i class="fi-arrow-right arrow"></i></button>
					</p>
				</div>

				<div id="q_t3">
					<h1 class="myriad-semibold">PART 2: TRAVEL</h1>
					<h2 class="myriad-semibold">Q3. How long do you travel by car every week?</h2>
					<input type="radio" name="qt3" value="0" id="qt31" /><label for="qt31">I don't travel by car</label> <br />
					<input type="radio" name="qt3" value="1" id="qt32" /><label for="qt32">0-4 hours</label> <br />
					<input type="radio" name="qt3" value="2" id="qt33" /><label for="qt33">4-8 hours</label> <br />
					<input type="radio" name="qt3" value="4" id="qt34" /><label for="qt34">Over 8 hours</label> <br />
					<p>
						<button type="button" class="button survey-btn" id="left7"><i class="fi-arrow-left arrow"></i></button>
						<button type="button" class="button survey-btn" id="right7"><i class="fi-arrow-right arrow"></i></button>
					</p>
				</div>

				<div id="q_t4">
					<h1 class="myriad-semibold">PART 2: TRAVEL</h1>
					<h2 class="myriad-semibold">Q4. How long do you travel by public transportation every week?</h2>
					<input type="radio" name="qt4" value="0" id="qt41" /><label for="qt41">I don't use public transportation.</label> <br />
					<input type="radio" name="qt4" value="1" id="qt42" /><label for="qt42">0-4 hours</label> <br />
					<input type="radio" name="qt4" value="2" id="qt43" /><label for="qt43">4-8 hours</label> <br />
					<input type="radio" name="qt4" value="3" id="qt44" /><label for="qt44">Over 8 hours</label> <br />
					<p>
						<button type="button" class="button survey-btn" id="left8"><i class="fi-arrow-left arrow"></i></button>
						<button type="button" class="button survey-btn" id="right8"><i class="fi-arrow-right arrow"></i></button>
					</p>
				</div>

				<div id="q_t5">
					<h1 class="myriad-semibold">PART 2: TRAVEL</h1>
					<h2 class="myriad-semibold">Q5. How often do you fly in a plane?</h2>
					<input type="radio" name="qt5" value="5" id="qt51" /><label for="qt51">At least once a week.</label> <br />
					<input type="radio" name="qt5" value="3" id="qt52" /><label for="qt52">At least once a month.</label> <br />
					<input type="radio" name="qt5" value="1" id="qt53" /><label for="qt53">At least once a year.</label> <br />
					<input type="radio" name="qt5" value="0" id="qt54" /><label for="qt54">I don't travel by plane.</label> <br />
					<p>
						<button type="button" class="button survey-btn" id="left9"><i class="fi-arrow-left arrow"></i></button>
						<button type="button" class="button survey-btn" id="right9"><i class="fi-arrow-right arrow"></i></button>
					</p>
				</div>

				<div id="q_h1">
					<h1 class="myriad-semibold">PART 3: HOME</h1>
					<h2 class="myriad-semibold">Q1. How long do you use an air conditioner in a day?</h2>
					<input type="radio" name="qh1" value="4" id="qh11" /><label for="qh11">Longer than 6 hours</label> <br />
					<input type="radio" name="qh1" value="3" id="qh12" /><label for="qh12">3-6 hours</label> <br />
					<input type="radio" name="qh1" value="2" id="qh13" /><label for="qh13">1-3 hours</label> <br />
					<input type="radio" name="qh1" value="1" id="qh14" /><label for="qh14">I don't use an air conditioner.</label> <br />
					<p>
						<button type="button" class="button survey-btn" id="left10"><i class="fi-arrow-left arrow"></i></button>
						<button type="button" class="button survey-btn" id="right10"><i class="fi-arrow-right arrow"></i></button>
					</p>
				</div>

				<div id="q_h2">
					<h1 class="myriad-semibold">PART 3: HOME</h1>
					<h2 class="myriad-semibold">Q2. How often do you use a water heater when taking a bath?</h2>
					<input type="radio" name="qh2" value="4" id="qh21" /><label for="qh21">Daily.</label> <br />
					<input type="radio" name="qh2" value="3" id="qh22" /><label for="qh22">Around 4-6 days in a week</label> <br />
					<input type="radio" name="qh2" value="2" id="qh23" /><label for="qh23">Around 1-3 days in a week</label> <br />
					<input type="radio" name="qh2" value="1" id="qh24" /><label for="qh24">I don't heat my water when bathing.</label> <br />
					<p>
						<button type="button" class="button survey-btn" id="left11"><i class="fi-arrow-left arrow"></i></button>
						<button type="button" class="button survey-btn" id="right11"><i class="fi-arrow-right arrow"></i></button>
					</p>
				</div>

				<div id="q_h3">
					<h1 class="myriad-semibold">PART 3: HOME</h1>
					<h2 class="myriad-semibold">Q3. Do you unplug appliances when you aren't using them?</h2>
					<input type="radio" name="qh3" value="0" id="qh31" /><label for="qh31">Yes.</label> <br />
					<input type="radio" name="qh3" value="3" id="qh32" /><label for="qh32">No</label> <br />
					<input type="radio" name="qh3" value="1" id="qh33" /><label for="qh33">I leave them on standby.</label> <br />
					<p>
						<button type="button" class="button survey-btn" id="left12"><i class="fi-arrow-left arrow"></i></button>
						<button type="button" class="button survey-btn" id="right12"><i class="fi-arrow-right arrow"></i></button>
					</p>
				</div>

				<div id="q_h4">
					<h1 class="myriad-semibold">PART 3: HOME</h1>
					<h2 class="myriad-semibold">Q4. How many personal gadgets (laptops, smartphones, tablets, etc) do you own?</h2>
					<input type="radio" name="qh4" value="1" id="qh41" /><label for="qh41">None.</label> <br />
					<input type="radio" name="qh4" value="2" id="qh42" /><label for="qh42">1-2</label> <br />
					<input type="radio" name="qh4" value="3" id="qh43" /><label for="qh43">3-4</label> <br />
					<input type="radio" name="qh4" value="4" id="qh44" /><label for="qh44">More than 5.</label> <br />
					<p>
						<button type="button" class="button survey-btn" id="left13"><i class="fi-arrow-left arrow"></i></button>
						<button type="button" class="button survey-btn disabled" id="right13"><i class="fi-arrow-right arrow"></i></button>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns" align="center">
			<div id="compute_section">
				<button type="button" class="button orange-btn myriad" id="btn_compute">Compute!</button>
			</div>
			<button type="button" class="button red-btn myriad" id="btn_back">Go Back</button>
		</div>
	</div>

	<script type="text/javascript" src="../res/js/computecarbon.js"></script>
</body>
</html>
