<!DOCTYPE html>
<html>
<head>
	<title>Live Smart - Compute for Carbon Footprint</title>

	<link rel="stylesheet" type="text/css" href="../res/css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="../res/css/foundation-icons.css">
	<link rel="stylesheet" type="text/css" href="../res/css/page-style.css">
	<link rel="stylesheet" type="text/css" href="../res/css/fonts.css">

	<script type="text/javascript" src="../res/js/jquery-3.1.1.min.js"></script>
</head>
<body>

	<div class="expanded row" id="topbar" align="center">
		<div class="bg"></div>
		<div class="large-12 columns white-text">
			<b class="myriad-bold shadow1" id="top_title">LIVE SMART</b>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns" style="margin-top: 50px;" align="center">
			<text class="prociono" style="font-size:28px">Answer the following:</text>
			<div>
				<h1 class="prociono" style="font-size:36px">Food</h1>

				<div style="text-align: center;">
					<div style="display: inline-block; text-align: left; width: 50%;">
							<legend>
								<b>Q1. </b>How would you describe your diet?
							</legend>
							<p>
								<input type="radio" name="food1" value="1" /> Meat in most meals <br />
								<input type="radio" name="food1" value="2" /> Meat in some meals <br />
								<input type="radio" name="food1" value="3" /> Meat rarely/fish only <br />
								<input type="radio" name="food1" value="4" /> Vegetarian <br />
								<input type="radio" name="food1" value="5" /> Vegan <br />
							</p>

							<legend>
								<b>Q2. </b>How much do you spend on food from restaurants, canteens, takeout?
							</legend>
							<p>
								<input type="radio" name="food2" value="1" /> P0 (All of my food comes from my home) <br />
								<input type="radio" name="food2" value="2" /> P1-P100 <br />
								<input type="radio" name="food2" value="3" /> P101-P200 <br />
								<input type="radio" name="food2" value="4" /> P201-P300 <br />
								<input type="radio" name="food2" value="5" /> P301+ <br />
							</p>
					</div>
				</div>

				<hr />
				<h1 class="prociono" style="font-size:36px">Travel</h1>
				<hr />
				<h1 class="prociono" style="font-size:36px">Home</h1>
				<hr />
				<h1 class="prociono" style="font-size:36px">Others</h1>

			</div>
			<p>
			<button type="button" class="button orange-btn myriad" id="btn_compute">Compute!</button>
			<button type="button" class="button red-btn myriad" id="btn_back">Go Back</button>
			</p>
		</div>
	</div>

	<script type="text/javascript" src="../res/js/computecarbon.js"></script>
</body>
</html>
