<!DOCTYPE html>
<html>
<head>
	<title>Live Smart - Log In</title>

	<link rel="stylesheet" type="text/css" href="../res/css/page-style.css">
	<link rel="stylesheet" type="text/css" href="../res/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../res/css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="../res/css/foundation-icons.css">
	<link rel="stylesheet" type="text/css" href="../res/css/alertify.min.css">

	<script type="text/javascript" src="../res/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../res/js/alertify.min.js"></script>
</head>
<body style="background-color:#FAFAFA">

	<div class="top-bar">
		<div class="menu-centered">
			<text style="font-family: codebold;font-size: 60px; color:#FFF;"><b>Live Smart</b></text>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns" style="margin-top: 50px;" align="center">
			<text class="prociono" style="font-size:36px">Delete an Account</text>

			<label><b class="prociono">Username</b>
				<input type="text" id="username" style="width:50%;">
			</label>

			<label><b class="prociono">Confirm Username</b>
				<input type="text" id="confirmusername" style="width:50%;">
			</label>

			<button type="button" class="warning button" id="btn_delete" style="width:150px;"><b class="prociono">Delete</b></button>
			<button type="button" class="alert button" id="btn_back" style="width:150px;"><b class="prociono">Go Back</b></button>
		</div>
	</div>

	<script type="text/javascript" src="../res/js/deleteuser_page.js"></script>
</body>
</html>
