<!DOCTYPE html>
<html>
<head>
<title>Live Smart - List of Resources</title>

<link rel="stylesheet" type="text/css" href="../res/css/foundation.min.css">
<link rel="stylesheet" type="text/css" href="../res/css/foundation-icons.css">
<link rel="stylesheet" type="text/css" href="../res/css/page-style.css">
<link rel="stylesheet" type="text/css" href="../res/css/resources.css">
<link rel="stylesheet" type="text/css" href="../res/css/fonts.css">

<script type="text/javascript" src="../res/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../res/js/highcharts.js"></script>
<script type="text/javascript" src="../res/js/exporting.js"></script>
</head>
<body>

<div class="expanded row" id="topbar" align="center">
  <div class="bg"></div>
  <div class="large-12 columns white-text">
    <b class="myriad-bold shadow1" id="top_title">LIVE SMART</b>
  </div>
</div>

<div class="row">
  <div class="small-12 columns myriad" style="margin-top: 50px;" align="justify">
    <h3 class="myriad-semibold">What exactly is a <b class="myriad-bold">Carbon Footprint?</b></h3>
    <p>
      <b>Carbon Footprint</b> is the mark a person leaves on the environment, in terms of the amount of <b>Carbon Dioxide</b> or <b>CO2</b> released. We add to our carbon footprint whenever we perform activities that involves the use of fossil fuels. Common examples of these activities are driving cars or using large appliances at home.
    </p>
    <p>
      <b>Fossil fuels</b> are fuels that serve as sources of energy such as heat or electricity when burnt. However, burning them also releases CO2 into the atmosphere. Examples of fossil fuels are coal and oil.
    </p>
    <p>
      YouTube user <a href="https://www.youtube.com/channel/UCyYOgVNW--SNcRHtnnZaXvQ">simpleshow</a> has uploaded <a href="https://www.youtube.com/watch?v=8q7_aV8eLUE">a video explaining carbon footprints even further.</a>
    </p>
    <p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8q7_aV8eLUE" frameborder="0" allowfullscreen></iframe>
    </p>

    <hr />
    <h3 class="myriad-semibold">Why is it important?</b></h3>
    <p>
      Carbon Dioxide or CO2 is a greenhouse gas that directly contributes to global warming and climate change. Therefore, having a large carbon footprint means we are emitting more harmful gases that are dangerous to our environment.
    </p>
    <p>
      Every individual has their own carbon footprint whether they realize it or not, and they all contribute in some way to climate change. The most important thing is that people need to be aware of their carbon footprint and CO2 emissions. Once they know that, they will be able to take steps in order to lowering their footprint.
    </p>
    <p>
      If more people know about carbon footprints, then it will be easier to act collectively to prevent global warming and climate change from happening. People can then begin helping other people by spread information so that little by little, we can make a difference in the world.
    </p>
    <hr />
    <h3 class="myriad-semibold">How can I help?</b></h3>
    <p>
      The first step is to figure out how big our carbon footprint is currently. Live Smart provides a simple way of computing for your carbon footprint score by providing a simple questionnaire and returning a score scaling from 1-10. Lower scores means smaller footprints and larger scores means bigger footprints.
    </p>
    <p>
      Next, you can look into various ways of lowering your score by making changes in your lifestyle that will result in lower carbon emissions. You can consult some of the resources on this page to give you an idea of what you could do to start.
    </p>
    <p>
      After that, you could take the time to answer our survey on carbon footprint and climate change knowledge. This will help us gather information which we can use to implement new strategies for lowering carbon footprints.
    </p>
    <p>
      Finally, you can help by spreading the word to your friends and family. Tell them about carbon footprints and show them what they could do to shrink their footprint.
    </p>
    <hr />
    <h3 class="myriad-semibold">List of external links and resources</h3>
    <ul>
      <li>
        <a href="http://www.greeneatz.com/foods-carbon-footprint.html">The Carbon Footprint of Food</a>
      </li>
      <li>
        <a href="http://shrinkthatfootprint.com/shrink-your-food-footprint">Shrinking your food footprint</a>
      </li>
      <li>
        <a href="http://shrinkthatfootprint.com/shrink-your-travel-footprint">Shrinking your travel footprint</a>
      </li>
      <li>
        <a href="http://shrinkthatfootprint.com/shrink-your-housing-footprint">Shrinking your housing footprint</a>
      </li>
      <li>
        <a href="https://ec.europa.eu/clima/sites/campaign/pdf/table_appliances_en.pdf">The Carbon Footprint of Appliances</a>
      </li>
      <li>
        <a href="http://footprint.wwf.org.uk/tips">Tips for Reducing Carbon Footprint</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=u7zwrzEyzkA">How to reduce your carbon footprint (YouTube Video)</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns" align="center">
    <button type="button" class="button red-btn myriad" id="btn_back">Go Back</button>
  </div>
</div>

<script type="text/javascript" src="../res/js/resources.js"></script>
</body>
</html>
