<!DOCTYPE html>
<html>
<head>
	<title>Live Smart - View Your Graph</title>

	<link rel="stylesheet" type="text/css" href="../res/css/page-style.css">
	<link rel="stylesheet" type="text/css" href="../res/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../res/css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="../res/css/foundation-icons.css">
	<link rel="stylesheet" type="text/css" href="../res/css/alertify.min.css">

	<script type="text/javascript" src="../res/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../res/js/alertify.min.js"></script>
	<script type="text/javascript" src="../res/js/highcharts.js"></script>
	<script type="text/javascript" src="../res/js/exporting.js"></script>
</head>
<body>

	<div class="top-bar">
		<div class="menu-centered">
			<text style="font-family: codebold;font-size: 60px; color:#FFF;"><b>Live Smart</b></text>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns" style="margin-top: 50px;" align="center">
			<b class="prociono" style="font-size:36px">Search for a User's Graph</b>
			<input type="text" id="search_user" style="width:50%;">
			<button type="button" class="warning button" id="btn_search" style="width:100px;"><b class="prociono">Search</b></button>
			<p>
				<div id="graph_area" style="width:100%; height:400px;"></div>
			<button type="button" class="alert button" id="btn_back" style="width:50%;"><b class="prociono">Go Back</b></button>
			</p>
		</div>
	</div>

	<script type="text/javascript" src="../res/js/searchgraph.js"></script>
</body>
</html>
