 	<!DOCTYPE html>
<html>
<head>
	<title>Live Smart - View Your Graph</title>

	<link rel="stylesheet" type="text/css" href="../res/css/page-style.css">
	<link rel="stylesheet" type="text/css" href="../res/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../res/css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="../res/css/foundation-icons.css">


	<script type="text/javascript" src="../res/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../res/js/highcharts.js"></script>
	<script type="text/javascript" src="../res/js/exporting.js"></script>
</head>
<body style="background-color:#FAFAFA">

	<div class="top-bar">
		<div class="menu-centered">
			<text style="font-family: codebold;font-size: 60px; color:#FFF;"><b>Live Smart</b></text>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns" style="margin-top: 50px;" align="center">
			<div id="carbon_graph" style="width:100%; height:400px;"></div>
			<p>
			<button type="button" class="alert button" id="btn_back" style="width:50%;"><b class="prociono">Go Back</b></button>
			</p>
		</div>
	</div>

	<script type="text/javascript" src="../res/js/viewgraph.js"></script>
</body>
</html>
