 	<!DOCTYPE html>
<html>
<head>
	<title>Live Smart - View Your Graph</title>

	<link rel="stylesheet" type="text/css" href="../res/css/foundation.min.css">
	<link rel="stylesheet" type="text/css" href="../res/css/foundation-icons.css">
	<link rel="stylesheet" type="text/css" href="../res/css/page-style.css">
	<link rel="stylesheet" type="text/css" href="../res/css/fonts.css">

	<script type="text/javascript" src="../res/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../res/js/highcharts.js"></script>
	<script type="text/javascript" src="../res/js/exporting.js"></script>
</head>
<body>

  <div class="expanded row" id="topbar" align="center">
		<div class="bg"></div>
		<div class="large-12 columns white-text">
			<b class="myriad-bold shadow1" id="top_title">LIVE SMART</b>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns" style="margin-top: 50px;" align="center">
			<div id="carbon_graph" style="width:100%; height:400px;"></div>
			<p>
			<button type="button" class="button red-btn myriad" id="btn_back">Go Back</button>
			</p>
		</div>
	</div>

	<script type="text/javascript" src="../res/js/viewgraph.js"></script>
</body>
</html>
