.top-bar {
  background: linear-gradient(to right, #4CAF50, #388E3C);
}

.icon {
	font-size: 96px;
}

/********** TEXT CLASSES **********/
.white-text {
	color: #FFF;
}

.shadow1 {
  text-shadow: 3px 3px 3px #000;
}

.shadow2 {
  text-shadow: 2px 2px 1px #000000;
}
/********** END OF TEXT CLASSES **********/

/********** BUTTON CLASSES **********/
.yellow-btn {
  background-color: #FFEB3B;
  color: #000;
  font-size: 16px;
}

.yellow-btn:hover {
  background-color: #FBC02D;
}

.gray-btn {
  background-color: #9E9E9E;
  color: #000;
  font-size:16px;
}

.gray-btn:hover {
  background-color: #616161;
}

.red-btn {
  background-color: #F44336;
  width: 50%;
  font-size: 20px;
  color: #000;
}

.red-btn:hover {
  background-color: #D32F2F;
}

.orange-btn {
  background-color: #FFD54F;
  width: 50%;
  font-size: 20px;
  color: #000;
}

.orange-btn:hover {
  background-color: #FFC107;
}
/********** END OF BUTTON CLASSES **********/

#footer {
  padding:10px;
  bottom: 0;
  left: 0;
  right: 0;
}

#topbar {
  background: linear-gradient(to right, #616161, #212121);
  position: relative;
  z-index: 0;
  float: left;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-top:10px;
}

#topbar .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../img/background2.jpg');
  background-size: cover;
  opacity: .5;
  width: 100%;
  height: 100%;
}

#top_title {
  font-size: 80px;
}

.main-body {
  padding-top:30px;
}
