.top-bar {
  background: linear-gradient(to right, #4CAF50, #388E3C);
}

.icon {
	font-size: 96px;
}

.white-text {
	color: #FFF;
}

.shadow1 {
  text-shadow: 3px 3px 3px #000;
}

.shadow2 {
  text-shadow: 2px 2px 1px #000000;
}

.yellow-btn {
  background-color: #FFEB3B;
  color: #000;
  font-size: 16px;
}

.yellow-btn:hover {
  background-color: #FBC02D;
}

.gray-btn {
  background-color: #9E9E9E;
  color: #000;
  font-size:16px;
}

.gray-btn:hover {
  background-color: #616161;
}

.red-btn {
  background-color: #F44336;
  width: 50%;
  font-size: 20px;
  color: #000;
}

.red-btn:hover {
  background-color: #D32F2F;
}

.orange-btn {
  background-color: #FFD54F;
  width: 50%;
  font-size: 20px;
  color: #000;
}

.orange-btn:hover {
  background-color: #FFC107;
}

#footer {
  padding:10px;
  bottom: 0;
  left: 0;
  right: 0;
}
